.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background-color: #111827;
  color: white;
}

.header h1 {
  font-size: 24px;
}

.header nav {
  display: flex;
  gap: 25px;
}

.header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header nav a:hover {
  color: #60a5fa;
}